body{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(rgba(41, 41, 49, 0.8)), url(imagenes/depositphotos_121279082-stock-illustration-math-linear-mathematics-education-circle.jpg) no-repeat center center;
    background-size: cover;
    flex-wrap: wrap;
}
.titulo{
    color: rgb(255, 255, 255);
    font-weight: 100px;
    background-color: black;
    letter-spacing: 5px;
   padding: 7px;
}
h3{
    color: white;
    text-decoration: underline;
}
p{
    color: white;
}